//backgrounds
$bg_yellow: #e5e548; 
$bg_dark: #2d2d2d;
$bg_currency_pos: #cee8db;
$bg_currency_neg: #e5e548;
$bg-secrch-unactive: #b0bcba;
$bg-module-opened: #e4e4e4;

 //text
$text-yellow: #e5e548;
$text-white: #fff;
$text-black: #000;
$text-currency: #39392f;