/* Contents
1.0 Reset + clearfix
2.0 Grid
3.0 Typography
4.0 Layout
4.1 Layout helpers
4.2 Main layout
	4.2.1 Main layout - Header
	4.2.2 Main layout - Fixed Nav Menu
	4.2.3 Main layout - Banner
	4.2.4 Main layout - Announce
	4.2.5 Main layout - Search Tabs
	4.2.6 Main layout - Page footer
	4.2.7 Main layout - Banners
	4.2.8 Main layout - Proposal table
5.0 Modules
	5.1 Modules - Modal Window 
6.0 Module creation
7.0 News
8.0 Price list
-------------------------------------------------------------- */

// Modules and Variables
@import "modules/all";

// Partials
@import "partials/base";
@import "partials/buttons";

/* 1.0 Reset + clearfix
 -------------------------------------------------------------- */

@import "partials/reset";

.clearfix {
  &:after {
    content: ".";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
  }
}

/* 2.0 Typography
 -------------------------------------------------------------- */
 
@import "partials/typography";

/* 3.0 Grid
 -------------------------------------------------------------- */
 
@import "partials/grid";

/* 4.0 Layout + grid helpers
 -------------------------------------------------------------- */

/* 4.1 Grid helpers
 -------------------------------------------------------------- */

.left {
	float: left;
}

.right {
	float: right;
}

.margin-auto {
	margin: 0 auto;
}

.inline-block {
	display: inline-block;
}

/* 4.2 Main layout 
 -------------------------------------------------------------- */

 .main-content-wrapper {
	margin-left: 12.5%;
}

.breadcrumbs {
	margin: 30px 0;

	.headline {
		@extend .inline-block;
		margin-bottom: 15px;
		padding: 5px;
		background: $bg_currency_pos;
		font-size: $header-font-size;
		color: $text-dark;
	}
}

.breadcrumbs-item {
	@extend .inline-block;
	font-size: $base-font-smaller;
	margin-bottom: 15px;
	
	a {
		color: $text-black;
	}
}

.list-dot {
	@extend .inline-block;
	padding: 0 10px;
	color: #b0bcba;
}

.hr {
	border-top: 1px solid $bg-black;
}

 /* 4.2.1 Main layout - Header
 -------------------------------------------------------------- */

.login {
	display: block;
	position: absolute;
	top: 60px;
	right: 135px;
	width: auto;
	height: 19px;
	padding: 5px 10px;
	background: $bg-dark;

	a {
		color: $text-yellow;
	}
}

.header-menu-block {
	color: $text-white;
	text-shadow: 1px 1px 2px black;

	.locale {
		@extend .align-right;
		padding: 10px;
		padding-bottom: 11px;
		background: $bg-yellow;
	}

	.abbr {
		@extend .inline-block;
		padding-right: 10px;
	}
}

.header-menu {
	padding: 5px;
	padding-left: 25px;
	background: $bg-dark;
}

.header-menu-item {
	position: relative;
	@extend .inline-block;
	padding: 5px 15px;
	cursor: pointer;

	a {
		color: inherit;
		text-shadow: inherit;
	}

	.soon {
		position: absolute;
		top: -5px;
		right: 14px;
		padding: 1px 4px;
		background: $bg-yellow;
		font-size: $base-font-small-caps;
		text-transform: uppercase;
		text-shadow: none;
		color: $text-black;
	}

	&.top {
		box-shadow: 1px 1px 3px 3px #1b1b1b inset;
		border-radius: 15px;
		background: #282828;
	}

	.favorite-top {
		@extend .inline-block;
		width: 17px;
		height: 17px;
		background: url(../images/icon-star-top.png) no-repeat;
		vertical-align: bottom;
	}
}

.logo-block {
	height: 221px;
	width: 1280px;
	background: url('../images/header-bg.png') no-repeat center center;
}

.site-logo {
	@extend .clearfix;
	width: 340px;
	height: 90px;
	margin-top: 56px;
}

.main-logo {
	@extend .inline-block;
}

.main-logo-inner {
	@extend .inline-block;
	width: 130px;
	height: 86px;
	background: url(../images/logo.png) no-repeat;
}

.main-slogan {
	padding-top: 7px;
	line-height: 25px;

	a {
		color: $text-black;
		text-transform: uppercase;
	}
	
	.upper {
		@extend .inline-block;
		font-size: $base-font-smaller;
	}

	.middle {
		@extend .inline-block;
		font-size: 40px;
	}

	.slogan {
		@extend .inline-block;
		font-size: $base-font-small-caps;
	}
}

.sub-header-menu {
	margin-left: 12.5%;
	margin-top: 40px;
	margin-bottom: 20px;

	ul {
		border-bottom: 7px solid $bg-yellow;
		padding-bottom: 3px;
	}
}

.sub-header-menu-item {
	@extend .inline-block;
	font-size: $header-font-size;
	padding-right: 30px;

	a {
		color: $text-black;
		text-decoration: none;
	}
}

 /* 4.2.2 Main layout - Header
 -------------------------------------------------------------- */

.nav-menu-fixed {
	position: fixed;
	top: 120px;
	width: 55px;
	z-index: 10000;
	padding: 14px 0;
	background: $bg-dark;
	// border-top: 1px solid #707070;
	// border-right: 1px solid #707070;
	-webkit-box-shadow: 0px 0px 4px 2px #707070;
	box-shadow: 0px 0px 4px 2px #707070;

	ul {
		width: 28px;
		margin: 0 auto;
	}
}

.nav-menu-fixed-item {
	width: 28px;
	margin-bottom: 12px;

	a {
		display: block;
		height: 28px;
		width: 28px;
		background: url(../images/icon-fixed-panel.png) no-repeat;
		text-indent: -10000%;
	}

	.home {
		width: 27px;
	}

	.favorite {
		background-position: -29px 0;
	}

	.bookmark {
		background-position: -57px 0;
	}

	.fb {
		width: 26px;
		background-position: -87px 0;
	}

	.twit {
		background-position: -112px 0;
	}

	.vk {
		background-position: -140px 0;
	}
}

/* 4.2.3 Main layout - Content Area -Banner
 -------------------------------------------------------------- */

.top-banner {
	height: 232px;
	margin-bottom: 40px;
	background: url(../images/main-banner-bg.png) no-repeat;

	.site-logo {
		position: absolute;
		bottom: 22px;
		left: 55px;
	}
}

.top-banner-slogan {
	position: absolute;
	top: 45px;
	right: 30px;
	display: block;
	width: auto;
	font-size: $header-font-larger;
}

.banner-close {
	position: absolute;
	display: block;
	bottom: -20px;
	right: 0;
	color: $text-gray;
	text-decoration: underline;
	cursor: pointer;
}

.close-cross {
	@extend .inline-block;
	width: 15px;
	height: 15px;
	margin-left: 4px;
	background: url(../images/close-icon.png) no-repeat;
	vertical-align: bottom;
}

/*4.2.4 Main layout - Content Area - Announce
 -------------------------------------------------------------- */

// Slider Main Page
.bx-wrapper {
	@extend .clearfix;
	position: relative;
	// width: 100%;
	height: 390px;	
	overflow: hidden;
}

.bx-viewport {
	height: 390px !important;
}

.slider-ul-announce {
		// width: 500%;
		// position: relative;\

		li {
			float: left;
		}
		
		img {
			width: 100%;
		}
	}

.exclusive-block {
	@extend .clearfix;
	@extend .box-model;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	padding-left: 60%;
	padding-top: 60px;
	background: url(../images/gradient-bg-announce.png) no-repeat 149px 0;

	.exclusive {
		@extend .inline-block;
		padding: 5px;
		margin: 25px 0;
		background: $bg-yellow;
		text-transform: uppercase;
		font-size: $base-font-smaller;
	}

	.headline {
		width: 90%;
		margin-bottom: 25px;
		font-size: $header-font-larger;
	}

	.news-announce-text {
		@extend .inline-block;
		width: 95%;
		padding-right: 3px;
		font-size: $base-font-smaller;
	}
}

.slider-announce-thumbs {
	position: relative;
	// overflow: hidden;
	width: 100%;
	height: 155px;
	background: $bg-dark;
	color: $text-white;	
}

.slider-pager-wrapper {
	width: 82%;
	height: 130px;
	margin-left: 8%;
	overflow: hidden;
}

#slider-announce-pager {

	.news-list-item {
		@extend .inline-block;
		width: 135px;
		padding: 0 1%;
		height: 65px;
		float: left;

		.slide-img {
			@extend .inline-block;			
			height: 65px;
			overflow: hidden;

			img {
				width: 100%;
			}
		}

		&.active {
			.slide-img {
				border: 1px solid $text-white;
			}
		}

		.slide-text {
			@extend .inline-block;
			width: 67%;
			margin-left: 5%;
			color: $text-white;
			font-size: $base-font-small;
			padding-top: 15px;
		}
	}
}

#slider-prev,
#slider-next {
	border: 0;
	background: none;

	&:focus {
		outline: 0;
	}
}

.bx-prev {
	position: absolute;
	top: 60px;
	width: 15px;
	height: 28px;
	background: url(../images/slide-nav.png) no-repeat;
	cursor: pointer;
	border: 0;
	text-indent: -10000%;
	left: 15px;
}	

.bx-next {
	@extend .bx-prev;
	background-position: -15px 0;
	left: 642px;
}

// END Slider Main Page

.currency-list {
	@extend .clearfix;
	width: 95%;
	margin-bottom: 25px;
	font-size: $base-font-larger;

	.currency-item {
		position: relative;
		padding: 6px;
		margin-bottom: 2px;
	}

	.negative {
		background: $bg-currency_neg;
	}

	.positive {
		background: $bg-currency_pos;

		.currency-arrow {
			background-position: -15px 0;
		}
	}

	.currency-arrow {
		@extend .inline-block;
		position: absolute;
		top: 10px;
		right: 25px;
		width: 13px;
		height: 8px;
		background: url(../images/arrows-currency.png) no-repeat;
	}

	.currency-icon {
		@extend .inline-block;
		width: 8px;
		height: 16px;
		margin: 0 20px 0 10px;
		background: url(../images/icon-currency.png) no-repeat;
		vertical-align: bottom;

		&.euro {
			width: 9px;
			background-position: -8px 0;
		}

		&.oil {
			width: 10px;
			background-position: -17px 0;
		}
	}
}

.news-list {
	margin-left: 5%;
	font-size: $base-font-small;

	.news-list-item {
		@extend .clearfix;
		position: relative;
		margin: 15px 0;
	}

	.headline {
		padding-bottom: 5px;
		text-transform: uppercase;
		border-bottom: 2px solid $bg-black;
		font-size: $base-font-size;
	}

	.news-list-img {
		@extend .inline-block;
		width: 130px;
		height: 72px;
		margin-right: 5px;
		overflow: hidden;

		img {
			width: 100%;
			height: auto;
		}
	}

	.news-list-text {
		@extend .inline-block;
		width: 130px;
		padding-bottom: 5px;

	}
	
	.border-line {
		@extend .inline-block;
		position: absolute;
		bottom: 0;
		width: 130px;
		border-bottom: 1px solid $bg-gray-light;
	}
}

/*
4.2.5 Main layout - Search Tabs
-------------------------------------------------------------- */

.search-tabs {
	margin-top: 40px;
}

#search-tabs {
	margin-top: 30px;

	.search-tabs-item {
		@extend .inline-block;
		padding: 6px 40px 10px;
		margin-right: -2px;
		background: $bg-search-li;

		&:first-child {
			padding: 6px 25px 10px;
		}

		&.ui-state-active {
			background: $bg-dark;
		}

	}

	a {
		font-size: $base-font-size;
		color: $text-white;
		text-decoration: none;

		&:focus {
			outline: 0;
		}
	}
}

#search-tab-1,
#search-tab-2,
#search-tab-3,
#search-tab-4 {
	position: relative;
	background: $bg-dark;
	padding: 5px;
}

.search-tabs-inner {

	.headline {
		padding-bottom: 4px;
		border-bottom: 8px solid $bg-yellow;
	}

	.city-main {
		display: block;
		padding-top: 10px;
		text-align: right;
		font-size: $base-font-large;
	}
	
	.search-input-tab {
		@extend .inline-block;
		width: 614px;
		height: 25px;
		border: none;
		padding-left: 10px;
		font-size: $base-font-small;
	}

	.search-button-tab {
		@extend .inline-block;
		height: 27px;
		width: 40px;
		border: none;
		background-color: $bg-yellow;
		background-image: url(../images/icon-search.png);
		background-repeat: no-repeat;
		background-position: center center;
		margin-left: -6px;
		vertical-align: top;
		cursor: pointer;
		text-indent: -10000%
	}
}

// Search tab lists

.search-tab-field {
	position: relative;
	display: block;
	width: 662px;
	height: 26px;
	border: none;
	border-radius: 0;
	background: $bg-white;
	color: $text-placeholder;
	text-align: left;
	font-size: $base-font-small;
	cursor: pointer;

	&.category-active {
		margin-top: 5px;

		& + .search-tab-list {
			top: 62px;
		}
	}

	.search-list-button {
		position: absolute;
		top: 0;
		right: 0;
		height: 26px;
		width: 35px;
		background: $bg-yellow;
	}

	.search-list-button-arrow {
		position: absolute;
		top: 8px;
		left: 12px;
		display: block;
		width: 12px;
		height: 12px;
		background: url(../images/arrows-select-top.png) no-repeat;

		&.up {
			background-position: -12px 0;
		}
	}

	&:focus {
		outline: 0;
	}
}

.search-tab-list {
	display: none;
	position: absolute;
	top: 31px;
	left: 0;
	width: 662px;
	z-index: 100;
	border: 5px solid $bg-dark;
	border-top: 0;
	background: $bg-white;
}

.search-tab-list-item {
	border-top: 1px solid $bg-search-li-top;
	padding: 5px;
	cursor: pointer;
	font-size: $base-font-size;

	&:hover {
		background: $bg-search-li-hover;
	}

	.category-item-favorite {
		@extend .inline-block;
		width: 19px;
		height: 19px;
		background: url(../images/icon-star-top.png) no-repeat;
		vertical-align: top;
		margin: 0 12px 0 5px;

		&.active {
			background-position: -19px 0;
		}
	}

	.search-tab-text {
		@extend .inline-block;
		width: 546px;
	}

	.category-item-counter {
		@extend .inline-block;
		width: 43px;
		padding-left: 7px;
		vertical-align: top;
	}
}

.category-arrow-left {
	@extend .inline-block;
	width: 8px;
	height: 17px;
	background: url(../images/arrows-currency.png) no-repeat;
	background-position: -28px 3px;
	vertical-align: top;
}

/*
4.2.6 Main layout - Page footer
-------------------------------------------------------------- */

.footer {
	margin-top: 15px;
	height: 230px;
	background: $bg-dark;
	color: $text-white;
}

.footer-inner {
	margin-left: 12.5%;
	padding-top: 29px;
}

.social-share-menu {
	@extend .inline-block;
	vertical-align: sub;

	&.modal-module {
		.social-item {
			background: url(../images/icon-social-module-opened.png) no-repeat;
			vertical-align: middle;
		}
	}

	.social-item {
		@extend .inline-block;
		width: 22px;
		height: 20px;
		margin-right: 6px;
		background: url(../images/icon-social-footer.png) no-repeat;
		cursor: pointer;

		&.vk {
			width: 21px;
		}

		&.fb {
			width: 19px;
			background-position: -21px 1px;
		}

		&.in {
			width: 19px;
			background-position: -40px 0;
		}

		&.google {
			width: 19px;
			background-position: -59px 0;
		}

		&.twit {
			width: 19px;
			background-position: -78px 1px;
		}
	}
}

.footer-menu {
	@extend .inline-block;
	margin-left: 117px;
	margin-right: 40px;
	margin-top: 0px;
}

.footer-menu-item {
	@extend .inline-block;
	margin-left: 40px;
	font-size: $base-font-smaller;

	a {
		color: $text-white;
	}
}

.contact-online {
	@extend .inline-block;
	position: relative;
	width: 230px;
	height: 93px;
	background: url(../images/conact-bg-footer.png) no-repeat;
	vertical-align: sub;

	.contact-text {
		position: absolute;
		top: 26px;
		right: 15px;
		color: $text-dark;
	}

	.contact-button {
		@extend .button-dark;
		position: absolute;
		bottom: 12px;
		right: 42px;
	}
}

.copyright {
	position: absolute;
	right: 0;
	bottom: -56px;
	width: 250px;
	font-size: $base-font-smaller;
	line-height: 20px;
}

/*
4.2.7 Main layout - Banners
-------------------------------------------------------------- */

.banners-main {
	margin-top: 30px;
	// text-align: justify;
}

.banner-main-item {
	@extend .inline-block;
	width: 24%;
	margin: 0 0.5%;

	&:first-child {
		margin-left: 0;
	}

	&:last-child {
		margin: 0;
	}

	a {
		display: inline-block;
	}

	img {
		width: 100%;
	}
}

/*
4.2.8 Main layout - Proposal table
-------------------------------------------------------------- */

.proposal-table {
	width: 100%;
	margin-bottom: 30px;
	border-bottom: 3px solid $bg-black;

	.proposal-table-arrow {
		@extend .inline-block;
		width: 8px;
		height: 17px;
		background: url(../images/arrows-currency.png) no-repeat;
		background-position: -28px 3px;
		vertical-align: top;
		cursor: pointer;
	}
}

.proposal-table-th {
	height: 20px;
	padding: 5px 0;
	background: $bg-secrch-unactive;
	color: $text-white;

	&.category {
		width: 60%;
		text-align: left;
		padding-left: 1%;
	}

	&.city {
		width: 17%;
		text-align: center;
	}

	&.qunatity {
		width: 17%;
		text-align: center;
	}

	&.empty {
		width: 6%;
	}
}

.proposal-table-td {
	height: 20px;
	padding: 5px 0 5px 10px;

	&.city {
		text-align: center;
	}

	&.qunatity {
		text-align: center;
	}

	&.empty {
		text-align: center;
	}
}


/*
5. Modules
-------------------------------------------------------------- */

.modules-block {
	margin: 30px 0;
}

.module-row {
	@extend .clearfix;
	margin-top: 20px
}

.module {
	@extend .box-model;
	position: relative;
	width: 18.25%;
	height: 322px;
	padding-bottom: 72px;
	margin-right: 2.1875%;
	float: left;
	background: url(../images/empty-module-small.png) no-repeat;	

	&.published:hover {

		.module-inner {
			display: block;

			& + .module-footer {
				text-indent: -10000%;
			}
		}
	}

	&:last-child {
		margin-right: 0;
	}

	img {
		width: 100%;
		cursor: pointer;
	}
}

.module-inner {
	@extend .box-model;
	position: absolute;
	top: 0;
	display: none;
	z-index: 10;
	height: inherit;
	padding: 7% 4%;
	border: 1px solid $border-module;
	background: url(../images/module-bg.png) repeat;
	color: $text-white;
	font-size: $base-module;
}

.module-description {
	@extend .box-model;
	margin: 20px 0;
	padding: 5px 0 5px 7px;
	border-top: 1px solid #565a5a;
	border-bottom: 1px solid #565a5a;

	.module-desc-item {
		display: block;
		margin: 8px 0;
		color: $text-module-desc;
		cursor: pointer;

		&.city {
			color: $text-white;
			cursor: text;

			&:hover {
				color: $text-white;
			}
		}

		&:hover {
			color: $text-yellow;

			.module-icon {
				&.info {
					background-position: -109px 0;
				}

				&.video {
					background-position: -66px 0;
				}

				&.micro {
					background-position: -86px 0;
				}
			}
		}
	}

	.module-icon {
		@extend .inline-block;
		margin-right: 7px;
		background: url(../images/icon-module-desc.png) no-repeat;
		vertical-align: middle;

		&.country {
			width: 9px;
			height: 6px;
			background: url(../images/rus-flag-small.png) no-repeat;
		}

		&.info {
			width: 21px;
			height: 21px;
			background-position: -43px 0;
		}

		&.video {
			width: 19px;
			height: 21px;
		}

		&.micro {
			width: 24px;
			height: 23px;
			background-position: -19px 0;
		}
	}
}

.module-nav {
	@extend .clearfix;
	margin-top: 10px;
	border-bottom: 1px solid #565a5a;

	a {
		display: block;
		color: $text-white;
		text-align: center;
	}

	.module-nav-item {
		width: 33%;
		float: left;
		text-align: center;
	}

	.module-nav-icon {
		@extend .inline-block;
		margin-top: 4px;
		background: url(../images/icon-module-action.png) no-repeat;
		text-indent: -10000%;
		cursor: pointer;

		&.read {
			width: 13px;
			height: 23px;
			background-position: -32px 0;
		}

		&.download {
			width: 14px;
			height: 23px;
			background-position: -18px 0;
		}

		&.print {
			width: 17px;
			height: 23px;
		}
	}
}

.module-read-more {
	margin-top: 10px;

	a {
		color: $text-white;
	}

	.module-more-icon {
		@extend .inline-block;
		width: 13px;
		height: 14px;
		margin-left: 5px;
		background: url(../images/module-more.png) no-repeat;
		vertical-align: top;
	}
}

.module-footer {
	@extend .box-model;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 72px;
	padding-top: 11px;
	padding-left: 4%;
	padding-right: 4%;
	background: $bg-dark;
	color: $text-white;
}

/* 5.1 Modules - Modal Window
 -------------------------------------------------------------- */

.modal-module-wrapper {
	position: relative;
}

.modal-close {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 10000;
	width: 15px;
 	height: 15px;
 	background: url(../images/close-icon.png) no-repeat;
 	cursor: pointer;
}

.modal-module-wrapper {
	@extend .clearfix;
	width: 504px;
	background: $bg-dark;
	color: $text-white;
	box-shadow: 0 0 1em $bg-dark;
}

.header-modal-module {
	padding: 25px 0;
	font-size: $base-font-large;
	color: $text-white;
}

.content-modal-module {
	@extend .clearfix;
}

.modal-module-price {
	@extend .inline-block;
	position: absolute;
	bottom: 50px;
	width: 125px;
	height: 64px;
	padding-top: 15px;
	background: url(../images/price-bg-opened-module.png) no-repeat;
	color: $text-dark;
	text-align: center;
}

.modal-module-description {
	padding: 0 15px;
}

.modal-module-desc-item {
	padding: 9px 10px;
	border-top: 1px solid #383838;
	cursor: pointer;

	&:last-child {
		border-bottom: 1px solid #383838;
	}

	&:hover {
		color: #e5e548;

		.modal-icon {
		@extend .inline-block;
		background: url(../images/icon-module-opened.png) no-repeat;
		width: 30px;
		height: 31px;
		margin-right: 7px;
		vertical-align: middle;

			&.info {
				background-position: -129px 1px;
			}

			&.price-list {
				background-position: -159px 0;
			}

			&.video {
				margin-bottom: 7px;
				background-position: -182px 0;
			}

			&.micro {
				background-position: -207px 0;
			}

			&.favorite {
				background-position: -232px 0;
			}
		}
	}

	&.country {
		text-transform: uppercase;
	}

	.module-nav {
		font-size: $base-font-small;
		border: none;
	}

	.modal-icon {
		@extend .inline-block;
		background: url(../images/icon-module-opened.png) no-repeat;
		width: 30px;
		height: 31px;
		margin-right: 7px;
		vertical-align: middle;

		&.info {
			background-position: 0 0;
		}

		&.price-list {
			width: 24px;
			background-position: -30px 0;
		}

		&.video {
			width: 25px;
			margin-bottom: 7px;
			background-position: -55px 0;
		}

		&.micro {
			width: 25px;
			background-position: -80px 0;
		}

		&.favorite {
			width: 24px;
			background-position: -105px 0;
			margin-bottom: 6px;
		}
	}

	.social-share-menu {
		margin-left: 17%;
	}
}

.modal-module-icon {
	&.country {
		@extend .inline-block;
		width: 9px;
		height: 6px;
		background: url(../images/rus-flag-small.png) no-repeat;
		margin-right: 5px;
	}
}

.company-name  {
	margin: 5px 0;

	div {
		padding: 16px 0
	}

	div:first-child {
		border-right: 1px solid #383838;
	}

	a {
		color: $text-white;
	}
}

.module-more-icon {
	@extend .inline-block;
	width: 17px;
	height: 15px;
	margin-left: 10px;
	background: url(../images/icon-module-desc.png) no-repeat;
	background-position: -130px 0;
	vertical-align: middle;
}

.modal-module-about-company {
	padding: 10px;
	line-height: 18px;
	background: $bg-module-opened;
	color: $text-dark;

	p {
		font-size: $base-font-smaller;
		margin-bottom: 10px;
	}

	a {
		color: $text-dark; 
		font-weight: bold;
	}

	.headline {
		font-size: $base-font-size;
		color: $text-dark; 
	}

	.modal-about-company-icon {
		@extend .inline-block;
		width: 31px;
		height: 28px;
		margin-right: 10px;
		background: url(../images/icon-desc-module-opened.png) no-repeat;
		vertical-align: middle;
	}
}

.modal-share-block {
	@extend .box-model;
	padding: 1px;
	background: $bg-module-opened;
}

.modal-share {
	@extend .box-model;
	padding: 15px;
	background: $bg-dark;
	text-align: right;

	&:first-child {
		border-bottom: 1px solid #383838;
	}

	.social-share-menu {
		width: 143px;
		margin-left: 10px;
		text-align: left;
	}
}

.category-modal-block {
	padding: 0 10px;
	background: $bg-module-opened;
	color: $text-dark;
}

.category-modal {
	padding: 15px 0;
	border-top: 1px solid #b9c4c2;
}

.categoty-modal-icon {
	@extend .inline-block;
	width: 26px;
	height: 20px;
	margin-right: 10px;
	background: url(../images/icon-desc-module-opened.png);
	background-position: -30px 0;
	vertical-align: top;

	&.sub-cat {
		background-position: -56px 0;
	}
}

.categoty-modal-tags {
	display: block;
	margin-top: 12px;
	font-size: $base-font-smaller;

	a {
		color: #2d2d2d;
		text-decoration: underline;
	}
}

/* 6.0 Module creation
 -------------------------------------------------------------- */

 @import "temp/module-creation";

 /* 7.0 News
 -------------------------------------------------------------- */

  @import "temp/news";

/* 8.0 Price list 
 -------------------------------------------------------------- */

.price-list-block {
	margin-bottom: 30px;

	.headline {
		@extend .inline-block;
		margin-bottom: 15px;
		padding: 5px;
		background: $bg-module-opened;
		font-size: $header-font-size;
		color: $text-dark;
	}
}

.price-list-ul {
	&.pro {
		background: $bg-dark;
		color: $text-white;
		line-height: 30px;
		@extend .clearfix;

		.price-list-item {
			@extend .box-model;
			padding: 1px 1px 1px 13px;
		}

		.price-list-number {
			@extend .inline-block;
			padding: 0 12px;
			background: $bg_currency_pos;
			color: $text-dark;
			vertical-align: middle;
		}
	}
}

.price-list-item {
	@extend .inline-block;
	font-size: $base-font-smaller;
}

.price-list-number {
	color: #23aa84;
	font-weight: bold;
}

.payment-list-block {
	padding: 25px 0;
	border-top: 1px solid $bg-dark;
	border-bottom: 2px solid $bg-dark;
	margin-bottom: 30px;
}

.payment-list-item {
	@extend .inline-block;
	color: $text-dark;
	font-size: $base-font-size;
	margin-right: 15px;

	&:first-child {
		font-size: $header-font-size;
	}
}

.payment-icon {
	@extend .inline-block;
	width: 51px;
	height: 32px;
	margin-right: 10px;
	margin-top: -8px;
	background: url(../images/icon-payment.png) no-repeat;
	vertical-align: top;

	&.visa {
		background-position: 0 0;
	}

	&.master {
		background-position: -52px 0;
	}

	&.american {
		background-position: -104px 0;
	}

	&.account {
		width: 59px;
		background-position: -156px 0;
	}
}

.price-add-button {
	text-align: center;

	.button-yellow {
		padding: 8px 16px;
		font-size: $header-font-size;
		border-bottom: 1px solid #a8a83f;
		text-transform: none;
	}
}

.preview-block {
	margin-top: 20px;
	padding: 20px 0 0; 
	background: #6c6c6c;

	.preview-slogan {
		margin-bottom: 20px;
		font-size: $header-font-smaller;
		text-align: center;
		color: $text-white;
		text-transform: uppercase;
		font-weight: bold;
	}

	.modal-module-wrapper {
		&.preview {
			margin: 30px auto;
		}
	}

	.banners-main {
		margin-top: 0;
		margin-bottom: 15px;
	}
}

.price-list-tabs-nav {
	@extend .clearfix;
	
	li {
		display: block;
		@extend .box-model;
		float: left;
		width: 20%;
		height: 64px;
		padding-top: 18px;
		// padding: 22px 15px;
		background: $bg-module-opened;
		border-right: 1px solid $bg-white;

		&:last-child {
			border-right: none;
		}

		&:first-child .price-list-nav-text {
			margin-top: 5px;
		}

		&:last-child .price-list-nav-text {
			margin-top: 5px;
		}

		&.ui-tabs-active {
			background: $bg-dark;

			a {
				color: $text-white;
			}
			
			.price-list-nav-icon {

				&.clients {
					background-position: -154px 0;
				}

				&.present {
					background-position: -184px 0;
				}

				&.pro {
					background-position: -217px 0;
				}
			}
		}
	}

	a {
		color: $text-dark;
	}
	
	.price-list-nav-text {
		@extend .inline-block;
		width: 70%;
		margin-top: -2px;
	}

	.price-list-nav-icon {
		@extend .inline-block;
		width: 30px;
		height: 31px;
		margin: 0 13px;
		background: url(../images/icon-price-tabs.png) no-repeat;

		&.clients {
			background-position: 0 0;
		}

		&.present {
			background-position: -30px 0;
		}

		&.fix {
			background-position: -60px 0;
		}

		&.pro {
			background-position: -92px 0;
		}

		&.info {
			background-position: -124px 0;
		}
	}
}

.price-list-tab {
	border: 5px solid $bg-dark;
	padding: 20px;
	background: #dae7e4;

	a {
		font-weight: bold;
		color: $text-dark;
	}

	p {
		margin-bottom: 10px;
	}

	ul {
		margin-left: 10px;
		margin-top: 10px;
	}

	li {
		margin-bottom: 5px;
	}

	.expressive {
		font-weight: bold;
		font-size: $header-font-smaller;
	}
}

.price-list-info {
	
	p {
		margin-left: 39px;
		margin-right: 65px;
	}

	.step {
		display: block;
	}

	.imporant {
		color: #23aa84;
	}
}

.icon-price-info {
	@extend .inline-block;
	width: 31px;
	height: 29px;
	margin-right: 10px;
	background: url(../images/icon-price-info.png) no-repeat;
	vertical-align: top;

	&.add-module {
		background-position: 0 0;
	}

	&.rule {
		width: 24px;
		margin-right: 15px;
		background-position: -32px 0;
	}

	&.click {
		width: 20px;
		margin-right: 19px;
		background-position: -57px 0;
	}

	&.account {
		background-position: -77px 0;
	}
}